/* стили футера */
@import './join';
@import './subscribe';
.footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
  background-color: $footer-backgorund-color;
}
.footer__container {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    text-align: center;
  }
}
.footer__text {
  color: $hero-text-color;
  font-style: normal;
}
.footer__address {
  margin-top: 20px;
}
.footer__link {
  margin-top: 8px;
  color: $footer-link-color;
  font-style: normal;
  transition: color 250ms $animation-cubic;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer__title {
  margin-bottom: 20px;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}
