/* секция присоединяйтесь */
.join {
  margin-left: 70px;
  margin-right: 93px;
  padding-top: 12px;
  color: $hero-text-color;
}
.join__item {
  color: $hero-text-color;
  background-color: rgba(255, 255, 255, 0.1);
}
