/* секция присоединяйтесь */
.join {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  color: $hero-text-color;
}
.social__link--join {
  color: $hero-text-color;
  background-color: rgba(255, 255, 255, 0.1);
}
