/* секция подпишитесь */
.subscribe {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  padding-top: 12px;
  // width: 570px;
  color: $hero-text-color;
}
// .subscribe__form {
//   display: flex;
// }
.subscribe__input {
  margin-right: 12px;
  // width: 358px;
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: $footer-backgorund-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  line-height: 1.25;
  color: inherit;
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
.subscribe__button {
  display: inline-flex;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  color: inherit;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe__icon {
  @extend .icon;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
