/* стили шапки */
.header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $secondary-background-color;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    position: relative;
    justify-content: space-between;
  }
}
// логотип отступ
.header__logo {
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  // margin-right: 93px;
}

// Кнопка-бургер
.header__button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: $secondary-background-color;
  color: $secondary-text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &.is-open {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 2;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header__burger {
  @extend .icon;
  width: 40px;
  height: 40px;
}
.header__icon-menu {
  .header__button.is-open & {
    display: none;
  }
}
.header__icon-close {
  display: none;
  .header__button.is-open & {
    display: block;
  }
}
// Мобильное меню
.header__menu {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: none;
    &.is-open {
      display: flex;
      flex-direction: column;
    }
    overflow-y: scroll;
    padding-top: 10vw;
    padding-left: 8vw;
    padding-bottom: 10vw;
    background-color: $secondary-background-color;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
  }
}
.header__nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.header__list {
  @media screen and (max-width: 767px) {
    font-size: 40px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
}
.header__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      width: 100%;
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.header__link {
  display: block;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  color: $secondary-text-color;
  transition: color 250ms $animation-cubic;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
/* выделение текущей страницы в навигации */
.header__link--current {
  position: relative;
  color: $accent-color;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
// контакты
.header__list--contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    margin-left: 85px;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 12px;
    line-height: 1.17;
  }
}
.header__item--contacts {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
}
.header__link--contacts {
  @media screen and (max-width: 767px) {
    font-size: 34px;
  }
  // display: inline-flex;
  // align-items: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
  }
  color: $main-text-color;
}
.header__icon {
  @extend .icon;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
.header__icon--envelope {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}
.header__icon--smartphone {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
  @media screen and (min-width: 1200px) {
    width: 12px;
    height: 16px;
  }
}
// Соцсети на мобильном
.mobile__list {
  @media screen and (min-width: 768px) {
    display: none;
  }
  justify-self: flex-end;
  display: flex;
  margin-top: 64px;
  font-size: 18px;
  line-height: 1.22;
}
.mobile__item {
  &:not(:first-child) {
    padding-left: 10px;
  }
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  @media screen and (max-width: 419px) {
    &:not(:first-child) {
      padding-left: 5px;
    }
    &:not(:last-child) {
      padding-right: 5px;
    }
  }
}
.mobile__link {
  color: $accent-color;
}
