// Логотип
.logo {
  display: inline-flex;
  align-items: center;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
}
.logo__text {
  color: $logo-text-color;
}
