body {
  color: $main-text-color;
  font-family: roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, noto, arial, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  &.modal-open {
    overflow: hidden;
  }

  // скроллбар
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  &::-webkit-scrollbar {
    width: 11px;
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
}
/* обнуление внешних отступов */
h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  cursor: pointer;
}
