/* убирает точки и левый отступ у списков*/
.list {
  list-style: none;
  padding: 0;
}
/* убирает подчеркивание ссылок */
.link {
  text-decoration: none;
}
/* скрывает визуально контент */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* закругленные края кнопок */
.button {
  border: 1px solid transparent;
  border-radius: 4px;
}
/* контейнер для центрирования и ограничения контента по ширине */
.container {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* контейнер секций */
.section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
/* класс для стилизации изображений */
.image {
  display: block;
  max-width: 100%;
  height: auto;
}
/* задание свойства флекс */
.flex {
  display: flex;
}
.icon {
  fill: currentColor;
}
