/* убирает точки и левый отступ у списков*/
.list {
  list-style: none;
  padding: 0;
}
/* убирает подчеркивание ссылок */
.link {
  text-decoration: none;
}
/* скрывает визуально контент */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* общие стили кнопок */
%button {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  min-width: 200px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
  border-radius: 4px;
  color: $hero-text-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms $animation-cubic;
  &:hover,
  &:focus {
    background-color: $hero-button-hover-color;
  }
  &:focus {
    outline: auto;
  }
}
/* контейнер для центрирования и ограничения контента по ширине */
.container {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* контейнер секций */
.section {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
/* класс для стилизации изображений */
.image {
  display: block;
  max-width: 100%;
  height: auto;
}
/* задание свойства флекс */
.flex {
  display: flex;
}
.icon {
  fill: currentColor;
}
