/* постоянные клиенты */
.clients__title {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: var(--gap-size);
}
.clients__item {
  flex-basis: calc(
    100% / var(--column-number) - var(--gap-size) * (var(--column-number) - 1) /
      var(--column-number)
  );
  @media screen and (min-width: 400px) and (max-width: 767px) {
    --column-number: 2;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    --column-number: 3;
  }
  @media screen and (min-width: 1200px) {
    --column-number: 6;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 31px;
  border: 1px solid $icon-color;
  border-radius: 4px;
  color: $icon-color;
  transition: color 250ms $animation-cubic, border-color 250ms $animation-cubic;
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
    outline: none;
  }
}
.clients__icon {
  @extend .icon;
  width: 106px;
  height: 60px;
}
