/* стили особенностей */
.feature {
  @media screen and (min-width: 1200px) {
    padding-bottom: 47px;
  }
}
.feature__list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: var(--gap-size);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}
.feature__item {
  @media screen and (min-width: 768px) {
    --column-number: 2;
    flex-basis: calc(
      100% / var(--column-number) - var(--gap-size) * (var(--column-number) - 1) /
        var(--column-number)
    );
  }
  @media screen and (min-width: 1200px) {
    --column-number: 4;
  }
}
.feature__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary-text-color;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.feature__icon {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: $team-background-color;
  border-radius: 4px;
}
