/* стили команды */
.team {
  background-color: $team-background-color;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
// .team__list {
//   display: flex;
// }
/* стили карточки команды */
.team__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 4);
    padding-bottom: 30px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  border-bottom: 1px solid transparent;
  border-radius: 4px;
  background-color: $secondary-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* имя члена команды */
.team__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: inherit;
  color: $secondary-text-color;
}
/* оступы между карточками*/
.team__social {
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}
