/* заголовок секций */
.title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 28px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  color: $secondary-text-color;
}
