/* стили чем мы занимаемся*/
.what {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-top: 47px;
}
.what__list {
  display: flex;
}
/* карточка  */
.what__item {
  width: calc((100% - 60px) / 3);
  height: 294px;
  perspective: 600px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
/* контейнер для содержимого карточки */
.what__card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 250ms $animation-cubic;
  .what__item:hover & {
    transform: rotateY(180deg);
  }
}
.what__image {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
/* задняя часть карточки */
.what__back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}
/* этикетка на карточке */
.what__label {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  transform: translate(0, -100%);
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $hero-text-color;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 0;
  transition: opacity 250ms $animation-cubic 250ms;
  .what__item:hover & {
    opacity: 1;
  }
}
