.accept__item {
  margin-top: 20px;
  @media screen and (min-width: 1199px) {
    padding-left: 14px;
  }
  display: flex;
  align-items: center;
}
.accept__checkbox {
  position: relative;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid $secondary-text-color;
  border-radius: 2px;
  color: $hero-text-color;
  pointer-events: none;
  transition: border-color 250ms $animation-cubic, background-color 250ms $animation-cubic;
}
.accept__icon {
  @extend .icon;
  position: absolute;
  left: -25%;
  top: -20%;
  width: 16px;
  height: 15px;
  opacity: 0;
  transition: opacity 250ms $animation-cubic;
}
.accept__input:checked + .accept__checkbox {
  background-color: $accent-color;
  border-color: $accent-color;
  & > .accept__icon {
    opacity: 1;
  }
}
.accept__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.accept__link {
  color: $accent-color;
}
