.accept__item {
  margin-top: 20px;
  padding-left: 14px;
  display: flex;
  align-items: center;
}
.accept__checkbox {
  position: relative;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid $secondary-text-color;
  border-radius: 2px;
  color: $hero-text-color;
  pointer-events: none;
  transition: border-color 250ms $animation-cubic, background-color 250ms $animation-cubic;
}
.accept__icon {
  @extend .icon;
  position: absolute;
  left: -20%;
  top: -25%;
  width: 16px;
  height: 15px;
  opacity: 0;
  transition: opacity 250ms $animation-cubic;
}
.accept__link {
  color: $accent-color;
}
.accept__input:checked + .accept__checkbox {
  background-color: $accent-color;
  border-color: $accent-color;
  & > .accept__icon {
    opacity: 1;
  }
}
/* кнопка Отправить */
.modal__accept {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 55px 10px 56px;
  color: $hero-text-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms $animation-cubic;
  &:hover {
    background-color: $hero-button-hover-color;
  }
}
