// Бэкдроп
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms $animation-cubic, visibility 250ms $animation-cubic;
  overflow-y: scroll;
  /* прячет модальное окно */
  &.is-hidden {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
}
/* Модальное окно */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  @media screen and (max-width: 479px) {
    width: calc(100% - 30px);
    padding: 5vw;
  }
  @media screen and (min-width: 480px) {
    padding: 40px;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
    min-height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $animation-cubic;
  // @media screen and (orientation: landscape) {
  //   transform: translate(-50%, -25%) scale(1);
  // }
  background-color: $hero-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.5);
  }
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  @media screen and (max-width: 1199px) {
    text-align: center;
    line-height: 1.5;
  }
}
.modal__item {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  color: $logo-text-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms $animation-cubic;
  &:focus,
  &:not(:placeholder-shown) {
    outline: none;
    border-color: $accent-color;
  }
}
.modal__icon {
  @extend .icon;
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;
  width: 18px;
  height: 18px;
  color: $secondary-text-color;
  transition: color 250ms $animation-cubic;
}
.modal__textarea {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms $animation-cubic;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus,
  &:not(:placeholder-shown) {
    outline: none;
    border-color: $accent-color;
  }
}
.modal__input:focus + .modal__icon,
.modal__input:not(:placeholder-shown) + .modal__icon {
  color: $accent-color;
}

/* Принять условия */
@import './accept';

/* кнопка закрытия */
.modal__close {
  position: absolute;
  left: calc(100% - 8px);
  top: 8px;
  transform: translate(-100%, 0);
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: $secondary-background-color;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: $logo-text-color;
  transition: color 250ms $animation-cubic;
  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }
}
